@charset "UTF-8";

/* 基本 */
body {
  margin: 0;
  background-color: #eee;
}

img {
  display: block;
}

/* 横幅と左右の余白 */
.w-container {
  width: min(92%, 1166px);
  margin-inline: auto;
}

/* ヘッダー */
.header {
  height: 112px;
  background-color: #fff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* ナビゲーションボタン */
.navBtn {
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #aaa;
  font-size: 30px;
}
